{% extends 'assign/base.html' %}

{% block body %}

    <h3>{{ object.abuilding }} - floor {{ object.afloor }} - room {{ object.aroom }}</h3>

    <form action="{% url 'assign:assigndelete' object.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="assign_id" value="{{ object.id }}"/>
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
     </form>
<!--    <h4><a href="{% url 'assign:assigndelete' object.id %}">DELETE</a></h4>    -->
    <h4><a href="{% url 'assign:assignupdate' object.id %}">EDIT</a> </h4>

{% endblock %}
