<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Assign{% endblock %}</title>

    <!-- loads the path to static files -->

    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'assign/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'assign:index' %}">Assign</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'assign:index' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Employees
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'assign:assignindex' %}">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; Assignments
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'assign:delegindex' %}">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; Delegations
                        </a>
                    </li>
                </ul>

                <form class="navbar-form navbar-left" role="search" method="get" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="{% url 'assign:assignadd' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Assignment
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'assign:delegadd' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Delegation
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'assign:emp-add' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Employee
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'account_logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

{% block body %}
{% endblock %}
</body>
</html>